.square {
	z-index: 5;
	position: relative;
	top: 18px;
	border-radius: 8px;
	border: 5px solid gray;
	height: 600px;
	width: 60%;
	Margin: auto;
	background-color: white;
	color: white;
	font-family: "monospace", Andale Mono;
	font-size: 20px;
}

#temp{
	font-size: 35px;
	background-color: gray;
	height: 64px;
	padding: 24px 0 0 18px;
	
}

.linestyle{
	border: 1px solid #533b74;
	width: 90%;
}

.split{
	padding-top: 18px;
	padding-left: 18px;
	color: black;
	z-index: 4;
	height: 28.5%;
}
